*~
cre.tgz
pod-notes.txt
*.fasl
/data/not-needed
/data/uml/uml24
/data/uml/uml24
/data/uml/uml25
/models/not-needed
/src/pod-utils/uml-utils/qvt/examples
*.sbcl
/bin
src/http/image/.~lock.2022-graphics.odp#
src/pod-utils/uml-utils/mof/model-from-mac.lisp